<div class="resource" id="inspector_index" resource_type="page" resource_id="inspector_index">
    <div class="resource" resource_type="main-container" resource_id="inspector-container">
    </div>


    <div class="html_template" template_name="release-notes-list-dialog" />

    <audio id="newOrderSound" class="resource" src="/res/themes/default/sounds/newOrder.wav" resource_type="sound" resource_id="new_order_sound" />
    <audio id="connectionLostSound" class="resource" src="/res/themes/default/sounds/connectionLost.wav" resource_type="sound" resource_id="connection_lost_sound" />
</div>
